{% extends 'base.html.twig' %}

{% block title %}Edit Demandetravail{% endblock %}

{% block body %}
    <h1>Edit Demandetravail</h1>

    {{ include('demandetravail/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_demandetravail_index') }}">back to list</a>

    {{ include('demandetravail/_delete_form.html.twig') }}
{% endblock %}
