{% extends 'base.html.twig' %}

{% block title %}Edit Offretravail{% endblock %}

{% block body %}
    <h1>Edit Offretravail</h1>

    {{ include('offretravail/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_offretravail_index') }}">back to list</a>

    {{ include('offretravail/_delete_form.html.twig') }}
{% endblock %}
