<form method="post" action="{{ path('app_lignepanier_delete_with_ajax', {'idlignepanier': ligne.idlignepanier}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('deleteproduit' ~ ligne.idlignepanier) }}">
    <button class="btn">Delete</button>
</form>