<form method="post" action="{{ path('app_lignepanier_delete', {'idlignepanier': ligne.idlignepanier}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne.idlignepanier) }}">
    <button class="btn">Delete</button>
</form>
